---
import Layout from "../layouts/Layout.astro";
export const prerender = false;
// import { getPosts } from "../utils/sanity";
// const posts = await getPosts();
---

<Layout title="Julesen Art Gallery">
  <section>
    <div class="container">
      <div>
        <h2>About Jules</h2>
      </div>
    </div>
  </section>
</Layout>

<style>
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  @media (min-width: 575px) {
    .container {
      width: 100%;
    }
  }
</style>