---
import Welcome from "../components/Welcome.astro";
import Layout from "../layouts/Layout.astro";
import { getPosts } from "../utils/sanity";
export const prerender = false;
const posts = await getPosts();
---

<Layout title="Julesen Art Gallery">
  <section>
      <Welcome />
  </section>
</Layout>
