---
import { Image } from 'astro:assets';

import logo from '../assets/logo.jpg';
import name from '../assets/name.png';
---
<header class="header">
    <div class="logo">
        <Image src={logo} alt="Julesen" />
    </div>
    <div class="name">
        <Image src={name} alt="Julianna Engesser" />
    </div>
</header>
<style>
    .header {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2em;
        margin: 4em;
    }
    .logo img {
        width: 170px;
        height: 170px;
        border-radius: 50%;
        transition: transform 1.2s ease-in-out;
    }
    .logo img:hover {
        transform: rotate(360deg);
    }
    .name img {
        max-width: 30vw;
        height: auto;
        transform: perspective(400px) rotateX(0deg);
        transition: transform 1.2s ease-in-out;
    }
    .name img:hover {
        transform: perspective(400px) rotateX(360deg);
    }

    @media (max-width: 800px) {
        .logo img {
            width: 100px;
            height: 100px;
        }
    }

    @media (max-width: 600px) {
        .header {
            flex-wrap: wrap;
            margin-bottom: 0;
        }
        .name {
            text-align: center;
            width: 100%;
            margin-top: -40px;
        }
        .name img {
            max-width: 50vw;
        }
    }
</style>