---
---

<div class="container">
  <div class="steps">
    <h2 class="steps__title">Website Coming Soon!</h2>
  </div>
</div>

<style>
  .container {
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: var(--space-2) var(--space-2);
  }

  @media (min-width: 575px) {
    .container {
      width: 100%;
    }
  }
</style>
