---
import TopBar from '../components/TopBar.astro';
import Header from '../components/Header.astro';
import BottomBar from '../components/BottomBar.astro';
// https://docs.astro.build/en/guides/view-transitions/
import { ViewTransitions } from 'astro:transitions';

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width"/>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg"/>
    <meta name="generator" content={Astro.generator}/>

    <!-- Google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">

    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body>
    <div class="container">
      <TopBar />
      <Header />
      <main>
        <slot />
      </main>
      <BottomBar />
    </div>
  </body>
</html>

<style>
  .container {
    margin: 0 auto;
    width: 100%;
    /* min-height: 100vh; */
    padding: 0;
    display: flex;
    flex-direction: column;
  }

  main {
    margin-top: 45px;
  }

  @media (min-width: 575px) {
    .container {
      max-width: var(--max-width-1);
      padding: 0 var(--space-4);
    }

    main {
      margin-top: unset;
    }
  }
</style>

<style is:global>
  :root {
    --white: #fff;
    --black: #101112;
    --primary: #c872fe;
    --primary-dark: #4b0179;
    --primary-light: #e0b0fe;
    --secondary: #44b15c;
    --secondary-dark: #073413;
    --secondary-light: #bffbc7;
    --gray: #eee;

    --font-primary: 'Nunito', sans-serif;
    --font-display: 'Caveat', sans-serif;
  }

  html {
    background-color: var(--white);
    font-family: var(--font-primary);
    text-size-adjust: 100%;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
  }

  body {
    margin: 0;
    overflow: hidden;
    background-color: var(--gray);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='34' height='44' viewBox='0 0 34 44'%3E%3Cg fill='%23e0b0fe' fill-opacity='0.30'%3E%3Cpath fill-rule='evenodd' d='M1 6.2C.72 5.55.38 4.94 0 4.36v13.28c.38-.58.72-1.2 1-1.84A12.04 12.04 0 0 0 7.2 22 12.04 12.04 0 0 0 1 28.2c-.28-.65-.62-1.26-1-1.84v13.28c.38-.58.72-1.2 1-1.84A12.04 12.04 0 0 0 7.2 44h21.6a12.05 12.05 0 0 0 5.2-4.36V26.36A12.05 12.05 0 0 0 28.8 22a12.05 12.05 0 0 0 5.2-4.36V4.36A12.05 12.05 0 0 0 28.8 0H7.2A12.04 12.04 0 0 0 1 6.2zM17.36 23H12a10 10 0 1 0 0 20h5.36a11.99 11.99 0 0 1 0-20zm1.28-2H24a10 10 0 1 0 0-20h-5.36a11.99 11.99 0 0 1 0 20zM12 1a10 10 0 1 0 0 20 10 10 0 0 0 0-20zm0 14a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-3.46-2a2 2 0 1 0-3.47 2 2 2 0 0 0 3.47-2zm0-4a2 2 0 1 0-3.47-2 2 2 0 0 0 3.47 2zM12 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm3.46 2a2 2 0 1 0 3.47-2 2 2 0 0 0-3.47 2zm0 4a2 2 0 1 0 3.47 2 2 2 0 0 0-3.47-2zM24 43a10 10 0 1 0 0-20 10 10 0 0 0 0 20zm0-14a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm3.46 2a2 2 0 1 0 3.47-2 2 2 0 0 0-3.47 2zm0 4a2 2 0 1 0 3.47 2 2 2 0 0 0-3.47-2zM24 37a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-3.46-2a2 2 0 1 0-3.47 2 2 2 0 0 0 3.47-2zm0-4a2 2 0 1 0-3.47-2 2 2 0 0 0 3.47 2z'/%3E%3C/g%3E%3C/svg%3E");
  }
</style>
